@media screen and (min-width: $mobile) and (max-width: 1023px) {
    .all-events {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1024px) {
    .all-events {
       width: 200px !important;
    }
}

a {
    text-decoration: none;
    font-size: 13px;
    .all-events {
        width: 220px;
        height: 40px;
        padding: 11px 20px;
        background-color: $gold-300;
        color: $cream;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        border: none;
        transition: 0.3s;
    }
    .all-events:hover {
        background-color: $gold-200;
        color: $blue-300;
    }
}