@import "../settings";
.btn-events {
  background-color: $gold-300;
  border: none;
  color: white;
  padding: 11px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-top: 17px;
}
