@import "../settings";

$btn-border-radius: 0;
$input-btn-focus-color-opacity: 0;
$btn-padding-y: 0.75rem;
$input-btn-focus-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-font-size: calculateRem(12px);




