// Libraries
@import "~bootstrap";

// Settings
@import "settings";

// Functions
@import "functions/functions";

// Components
@import "components/typography";

// Add your custom scss here
html {
	height: 100%;
}

body {
	color: white;
	height: 100%;
}

a {
	@include font($montserrat-600);
	font-size: calculateRem(12px);
	letter-spacing: 0.1em;
	color: $gold-300;
	text-decoration: none;
}
.aContainer {
	margin-top: 15px;
}

.container {
	background: $blue-300;
	height: 100vh;
	overflow: auto;
	max-width: 750px;
}

#eventImage {
	height: 30%;
	width: auto;
	margin: auto;
	display: block;
}

.accordion {
	margin-top: 20px;
}

.accordion-item .accordion-button {
	background-color: $blue-300;
}

.accordion-item {
	border: none;
	background: $blue-300;
	border-bottom: solid 1px $gold-100;
	padding: 0 0 20px 0;
}

.accordion-header {
	font-size: 22px;
	line-height: 90%;
	font-weight: normal;
}

.accordion-button:not(.collapsed) {
	box-shadow: none;
	color: white;
}

.accordion-body {
	@include font($montserrat-400);
	background: $blue-300;
	font-size: 15px;
	padding-left: 0;
	line-height: 120%;
}

.date {
	@include font($montserrat-400);
	font-size: calculateRem(12px);
	font-weight: bold;
	font-size: 12px;
}

.dateContainer {
	padding-top: 20px;
	margin-bottom: 5px;
}

button {
	border: none;
	box-shadow: none;
}

.topHeader {
	padding: 12% 0 5% 0;
}

#allEvents {
	font-size: calculateRem(12px);
	color: white;
	background-color: $gold-300;
	width: 100%;
	text-align: center;
	padding: 10px 0 10px 0;
	letter-spacing: 0.15em;
	align-items: center;
}

.bold-header {
	font-weight: 700;
}

#fathers-day-item {
	border: none;
}

//media query and styling for desktop
@import "./desktop.scss";
