// Functions
@import "functions/functions";

// Components
@import "components/typography";

// Settings
@import "settings";

// Libraries
@import "~bootstrap";

// Add your custom scss here
.bg-blue {
  background-color: $blue-300;
}

.link-gold {
  color: $gold-300;
  text-decoration: none;
  &:hover {
    color: $cream;
  }
}

/* What's on title */
.on-title {
  position: absolute;
  width: 183px;
  height: 45px;
  left: 23px;
  top: 60px;

  // font: $bebas-neue;
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 90%;
  /* identical to box height, or 45px */
  letter-spacing: 0.05em;

  /* White */
  color: #ffffff;
}

.event-date {
  /* SUB3 */
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  /* or 14px */
  letter-spacing: 0.1em;

  /* White */
  color: #ffffff;
  display: block;
}

.event-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 90%;
  /* or 22px */

  color: #ffffff;
  display: block;
}

.btn-gold {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 11px 20px;

  background-color: $gold-300;
  color: #ffffff;

  height: 40px;
  left: 21px;
}

.divider {
  background: $gold-100;
  border: 1px solid $gold-200;
}

.on-title-vertical {
  /* What's On title */

  position: absolute;
  width: 183px;
  height: 45px;
  left: 103px;
  top: 536px;

  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 90%;
  /* identical to box height, or 45px */

  letter-spacing: 0.05em;

  /* White */

  color: #ffffff;

  transform: rotate(-90deg);
}

.image-sm {
  width: 361px;
  height: 250px;
  left: 20px;
  top: 138px;
}

.image-lg {
  width: 505px;
  height: 650px;
  left: 203px;
  top: 94px;
}

.accordion-title:hover {
  cursor: pointer;
}
